/*Brandon Ruger
 *AVF 1312
 *CSS for iPad Display*/

#courseinfo {
    margin-left: 5px;
    padding-left: 10px;
    list-style-type: none;
    border: 1px solid black;
    background-image: url(img/beach.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    font: 20pt Helvetica;
}

a {
    font: 5px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1536px) and (orientation: portrait) {
    img[alt] {
        border: 1px solid red;
        max-width: 20%;
        float: left;
    }
}

#instagramdata {
    list-style-type: none;
}

section[data-role="page"] {
    background-image: url(img/background.png);
    background-size: cover;
}

ul li a {
   font: 15pt Helvetica;
   background-color: #046380;
}

li[data-role] {
    background-color: #EFECCA;
    font: 20pt Helvetica;
    color: black;
}

.ui-body-c .ui-link-inherit {
    color: white !important;
}

.ui-bar-b {
    background-color: #EFECCA !important; /*Trying to target listview bg color, but cannot seem to target correct element */
}

/*Trying to rearrange the buttons on the launch page in landscape mode*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1536px) and (orientation: landscape) {
    ul[data-role="listview"] {
    float: left;
    max-width: 50%;
    margin-right: 10px !important;
    }
    
    img[alt] {
    border: 1px solid red;
    width: 50%;
    float: left;
    }
}

#googlemap {
    height: 75%;
    width: 75%;
}
