/*Brandon Ruger
 *AVF 1312
 *CSS for iPad Horizontal Display*/

#courseinfo {
    margin-left: 5px;
    padding-left: 10px;
    list-style-type: none;
    border: 1px solid black;
    background-image: url(img/beach.jpg);
    background-position: left center;
    max-width: 100%;
}

a {
    font: 5px;
}

img[alt] {
    border: 1px solid red;
    max-width: 20%;
    float: left;
}

#instagramdata {
    list-style-type: none;
}

section {
    background-image: url(img/background.png);
}