/*Brandon Ruger
 *AVF 1312
 *CSS for iPhone/Android Vertical Display*/

#courseinfo {
    margin-left: 5px;
    padding-left: 10px;
    list-style-type: none;
    border: 1px solid black;
    background-image: url(img/beach.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    font: 20pt Helvetica;
}

a {
    font: 5px;
}

img[alt] { /*Instagram images*/
    border: 1px solid blue;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

#instagramdata {
    list-style-type: none;
}

section[data-role="page"] {
    background-image: url(img/background.png);
    background-size: cover;
}

ul li a {
   font: 10pt Helvetica;
   background-color: #046380;
   color: white; /*Trying to target the button text, but can't seem to target correct element.*/
}

li[data-role] {
    background-color: #EFECCA !important; /*Trying to edit background of listview heading, but can't seem to target correct element.*/
    font: 20pt Helvetica;
    color: black;
}

.ui-body-c .ui-link-inherit {
    color: white !important; /*Tried using element inspector to target button text, but didn't work*/
}