/*Brandon Ruger
 *AVF 1312
 *CSS for iPhone/Android Vertical Display*/

#courseinfo {
    margin-left: 5px;
    padding-left: 0px;
}

a {
    font: 5px;
}

img[alt] {
    border: 1px solid blue;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

#instagramdata {
    list-style-type: none;
}
